extends ../ui_layout

block content
  .twelve.wide.computer.tablet.sixteen.wide.mobile.column(style="margin-top: 2em; margin-bottom: 2em;")
    h2(style="text-align: center;") Tell Us A Little More About Yourself

    form.ui.large.form(action='/account/signup_info_post', method='POST', enctype='multipart/form-data')
      input(type='hidden', name='_csrf', value=_csrf)
      .field.image-upload
        p(style="font-weight: bold; font-size: medium; margin-bottom: 0.2em") Profile Picture 
          span(style="font-weight: normal") (Click to Change)
        label(for='picinput', style="width: fit-content")
          if user.profile.picture
            img#imgInp.ui.small.image(src='/user_avatar/'+user.profile.picture)
          else
            img#imgInp.ui.small.image(src=user.gravatar(60))
        input#picinput(type='file', accept='image/*', capture='camera', name='picinput')
      .inline.fields(style='padding-top: 10px !important;')
        .ten.wide.field
          label(for='name') Name
          input.form-control(type='text', name='name', id='name', value=user.profile.name)
        .six.wide.field
          label(for='location') Location
          input.form-control(type='text', name='location', id='location', value=user.profile.location)
      .field
        label(for='bio') Bio
        textarea(rows='2', name='bio', id='bio')=user.profile.bio
      .ui.buttons
        button.ui.large.positive.button(type='submit') Save
        .or
        button.ui.large.button.com(type='button') Skip
  
  script. 
    //- Skip Button
    $('button.ui.button.com').on('click', function() {
        window.location.href = '/com';
      });