.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu
    .ui.container
      a.item(href= user===undefined ? '/' : (user.consent ? "/": "#"))
        img.ui.tiny.image(src=process.env.SITE_LOGO, id='logo')
      .right.menu
        if !user
          a.item(href='/login') Log In
          a.item(href='/signup') Create Account
        else
          if user.consent
            if(showNewPostIcon)
              a.item.newpost
                i.big.write.square.icon
            a.item(href='/notifications') 
              i.big.alarm.icon
          .ui.simple.dropdown.item
            if user.profile.picture
              img.ui.mini.spaced.circular.image(src='/user_avatar/'+user.profile.picture)
            else
              img.ui.mini.spaced.circular.image(src=user.gravatar(60))
            |
            span(style="margin-right: 5px;")= user.profile.name || user.username || user.id
            i.dropdown.icon
            .left.menu
              if user.consent
                a.item(href='/me') My Profile
                a.item(href='/account') Update My Profile
                if user.isAdmin
                  a.item(href='/completed') Study Progress
                  a.item(href='/actors') Simulation (Actors)
                a.item(href='/com') View Community Rules
              a.item.logoutLink Log Out
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu
    a.item(href=user===undefined ? '/' : (user.consent ? "/": "#"))
      img.ui.tiny.image(src=process.env.SITE_LOGO, id='mobile_logo')
    if !user
      a.item(href='/login') Log In
      a.item(href='/signup') Create Account
    else
      if user.consent
        if(showNewPostIcon)
          a.item.newpost
            i.big.write.square.icon
        a.item(href='/notifications') 
          i.big.alarm.icon
      else 
        .item 
        .item
      .ui.simple.dropdown.item
        if user.profile.picture
          img.ui.mini.spaced.circular.image(src='/user_avatar/'+user.profile.picture)
        else
          img.ui.mini.spaced.circular.image(src=user.gravatar(60))
        i.dropdown.icon
        .left.menu
          if user.consent
            a.item(href='/me') My Profile
            a.item(href='/account') Update My Profile
            if user.isAdmin
              a.item(href='/completed') Study Progress
              a.item(href='/actors') Simulation (Actors)
            a.item(href='/com') View Community Rules
          a.item.logoutLink Log Out