.ui.fluid.card(u_postID=val.id, type='userPost', postID=val.postID)
  .content
    .right.floated.time.meta=(val.absTime.getTime())
    a.ui.avatar.image(href='/me')
      if user.profile.picture
        img(src='/user_avatar/'+user.profile.picture)
      else
        img(src=user.gravatar(60))
    a(href='/me')
      span=user.profile.name || user.username || user.id
  .image
    img(src='/user_post/'+val.picture)
  .content
    .description=val.body
  .two.ui.bottom.attached.icon.buttons
    .ui.reply.button(tabindex='0')
      i.reply.icon
      |  Reply
    .ui.labeled.button(tabindex='0')
      .ui.like.button(class=val.liked ? "red" : null)
        i.heart.icon
        |  Like
      a.ui.basic.red.left.pointing.label.count=val.likes+(val.liked ? 1 : 0)      
  if val.comments.filter(comment => comment.absTime < Date.now()).length > 0
    .content
      .ui.comments
        each comment in val.comments
          if comment.absTime < Date.now()
            if !comment.flagged
              //-IF this comment is USER made, do this
              if comment.new_comment
                .comment(commentID=comment.commentID)
                  a.avatar.image(href='/me')
                    if user.profile.picture
                      img(src='/user_avatar/'+user.profile.picture)
                    else
                      img(src=user.gravatar(60))
                  .content
                    a.author(href='/me')=user.profile.name || user.username || user.id
                    .metadata
                      span.date=(comment.absTime.getTime())
                      .rating
                        i.heart.icon(class=comment.liked ? "red" : null)
                        span.num=comment.likes+(comment.liked ? 1 : 0)
                        |  Likes
                    .text=comment.body
                    .actions
                      a.like.comment(class=comment.liked ? "red" : null) !{comment.liked ? "Unlike" : "Like"}
              //- Else this is a normal comment from the script
              else
                .comment(commentID=comment.commentID)
                  a.avatar(href='/user/'+comment.actor.username)
                    //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                    img(src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                  .content
                    a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                    .metadata
                      span.date=(comment.absTime.getTime())
                      .rating
                        i.heart.icon(class=comment.liked ? "red" : null)
                        span.num=comment.likes+(comment.liked ? 1 : 0)
                        |  Likes
                    .text=comment.body
                    .actions
                      a.like.comment(class=comment.liked ? "red" : null) !{comment.liked ? "Unlike" : "Like"}
                      a.flag.comment Flag
  .extra.content
    .ui.fluid.left.labeled.right.icon.input
      .ui.label
        if user.profile.picture
          img.ui.avatar.image.small(src='/user_avatar/'+user.profile.picture, name=user.profile.name || user.username || user.id)
        else
          img.ui.avatar.image.small(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
      .ui.form
        .field 
          textarea.newcomment(type='text', placeholder='Write a Comment' rows='1')
      i.big.send.link.icon