extends ui_layout

block content
  .ui.text.container(style="margin-top: 2em; margin-bottom: 2em")
    h2(style="text-align: center;") All Actors in Database
  .ui.five.stackable.cards
    for actor in actors
      .card 
        .image
          img(src=cdn+"/profile_pictures/"+actor.profile.picture)
        .content 
          .header #{actor.profile.name}
          .meta @!{actor.username}
          .description(style="white-space: pre-line;") !{actor.profile.bio}
          .description(style="margin-top: 5px;")
            if actor.profile.location
              i.marker.icon
              span=actor.profile.location