extends ui_layout

block styles
  link(type='text/css', rel='stylesheet', href='/public/css/notification.css')
  link(type='text/css', rel='stylesheet', href='/public/css/script.css')

block content
  .computer.only.tablet.only.four.wide.column 
    include ./partials/userCard

  #loading.ten.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    img.ui.centered.small.image(src='/public/heart.svg')
  #content.ten.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style='display: none;')
    if notification_feed.length==0
      .ui.fluid.card
        .content
          .description
          |  You have no notifications at this time.
    else
      h3 Notifications (!{count})
      each notification in notification_feed
        .ui.raised.segment(correspondingPost=notification.postID, class = !notification.unreadNotification ? "read": "")
          .ui.feed
            case notification.action
              when 'read'
                - var best = notification.actors.splice(0, 5);
                .event
                  .label
                    i.large.unhide.icon
                  .content
                    img.ui.tiny.right.floated.rounded.image(src='/user_post/'+notification.picture)
                    .extra.images
                      each actor in best
                        if actor.username != "generic-joe"
                          a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')
                            img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                    if best.length == 1
                      .summary
                        a(href='/user/'+best[0].username)=best[0].profile.name
                        |   has read your post. 
                        .date=notification.time
                    else 
                      .summary
                        a(href='/user/'+best[0].username)=best[0].profile.name
                        |  and 
                        a(key=notification.key)=(best.length+notification.actors.length-1)+" others "
                        | have read your post.  
                        .date=notification.time
              when 'like'
                - var best = notification.actors.splice(0, 5);
                .event
                  .label
                    i.large.like.icon
                  .content
                    img.ui.tiny.right.floated.rounded.image(src='/user_post/'+notification.picture)
                    .extra.images
                      each actor in best
                        a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='bottom center')                       
                          img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      if best.length != 1
                        |  and 
                        a.others(key=notification.key)=(best.length+notification.actors.length-1)+" others"
                        |  have
                      else 
                        |  has
                      |  liked your post. 
                      .date=notification.time
              when 'reply'
                .event
                  .label
                    i.large.reply.icon
                  .content
                    img.ui.tiny.right.floated.rounded.image(src='/user_post/'+notification.picture)
                    .extra.images
                        a.ui.avatar.image(href='/user/'+notification.actor.username, data-tooltip=notification.actor.profile.name, data-position='bottom center')                       
                          img.ui.avatar.image(src='/profile_pictures/'+notification.actor.profile.picture)
                    .summary
                      a(href='/user/'+notification.actor.username)
                        span=notification.actor.profile.name
                      |  has commented on your post.
                      .date=notification.time
                    .extra.text=notification.replyBody
              when 'reply_read'
                - var best = notification.actors.splice(0, 5);
                .event
                  .label
                    i.large.unhide.icon
                  .content
                    //- if notification.picture
                      //- img.ui.tiny.right.floated.image(src='/post_pictures/'+notification.picture)
                    .extra.images
                      each actor in best
                        if actor.username != "generic-joe"
                          a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')                            
                            img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      if best.length == 1
                        |  has 
                      else 
                        |  and 
                        a(key=notification.key)=(best.length+notification.actors.length-1)+" others "
                        | have 
                      | read your reply to #{notification.originalActor.profile.name}'s post:
                      .date=notification.time
                    .extra.text=notification.body
              when 'reply_like'
                - var best = notification.actors.splice(0, 5);
                .event
                  .label
                    i.large.like.icon
                  .content
                    //- if notification.picture
                      //- img.ui.tiny.right.floated.image(src='/post_pictures/'+notification.picture)
                    .extra.images
                      each actor in best
                        a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')
                          img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      if best.length == 1
                        |  has 
                      else 
                        |  and 
                        a(key=notification.key)=(best.length+notification.actors.length-1)+" others "
                        | have 
                      | liked your reply to #{notification.originalActor.profile.name}'s post:
                      .date=notification.time
                    .extra.text=notification.body                                                
              
    each val in script
      if val.relativeTime 
        //- This is a User made post
        .ui.tiny.long.modal(correspondingPost=val.postID)
          .ui.segment
            include ./partials/userPost
            .actions
              .ui.positive.button Back
      else 
        //- This is an Actor post
        .ui.tiny.long.modal(correspondingPost=val._id)
          .ui.segment
            include ./partials/actorPost
            .actions
              .ui.positive.button Back
  .computer.only.tablet.only.two.wide.column 

block scripts 
  script.
    let numComments = !{JSON.stringify(user.numComments)};
  script(src='/public/js/notification.js')
  script(src='/public/js/postFunctionalities.js')