extends ui_layout

block styles 
  link(type='text/css', rel='stylesheet', href='/public/css/script.css')

block content
  //- TODO: Change this URI to a CDN you are using for Photos
  -var cdn = "";
  -var currentDay = "";
  -var dateNow = Date.now();

  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        if user.profile.picture
          img(src='/user_post/'+user.profile.picture)
        else
          img(src=user.gravatar(60))
      .content
        a.header(href='/me')= user.profile.name || user.username || user.id
        .meta="@"+user.username
        .description=user.profile.bio
        .description
          if user.profile.location
            i.marker.icon
            span=user.profile.location
      .one.ui.bottom.attached.icon.buttons
          button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
            i.write.icon

  #loading.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    img.ui.centered.small.image(src='/public/heart.svg')
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style='display: none;')
    //-.ui.active.dimmer.feed
      .ui.large.text.loader Loading
    //- Input for creating new post at top of feed
    #newpost.ui.fluid.left.labeled.right.icon.input
      .ui.label
        if user.profile.picture
          img.ui.avatar.image(src='/user_post/'+user.profile.picture)
        else
          img.ui.avatar.image(src=user.gravatar(60))
      input(type='text', placeholder='Share your meal')
      i.big.photo.link.icon
  
    h3(style="font-weight:bold") Suggested for you
    .ui.fluid.card.test
          .content(style="display:flex; flex-direction:column")  
            a.left.floated(href='/user/3striiipes')#poster
              img.ui.avatar.image(src='https://dhpd030vnpk29.cloudfront.net/profile_pictures/three_stripes_pfp.jpg')
              span AVILO RESTAURANT
              i.icon.blue.check.circle.small
            span(style="margin-left: 38px; margin-top: 0px") Sponsored

          .image
            img.post(src='https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')

          #step4.content
            .description#hashtag
              | Simply the best burger in town. Come check out for yourself!
            //-   span #sneakerheads #runnerheads #ad
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .ui.two.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            //-.ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button#likeButton
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=5
  .computer.only.tablet.only.four.wide.column

          
block scripts
  script().
    $(window).on('load', function(){
      if(window.performance.getEntriesByType("navigation")[0].type === "back_forward"){
        window.location.reload(true);
    }});
  script(src='/public/js/postFunctionalities.js')